
.left{
    display: flex;
    align-items: center;
}

.right{
   display: flex;
   gap: 40px;
}
.contents{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.contents p{
    margin-bottom: 3px;
}
@media (min-width: 1190px) {
header{
    display: flex;
    justify-content: space-around;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.mainsearch{
    height: 36px;
    border-radius: 20PX;
    background-color: #1C1F23;
    margin-top: 12px;
    margin-bottom: 12px;
 border: rgb(130, 129, 129);
 border-style: solid;
 border-width: 0.01%; padding-left: 1.5%;
 width: 289px;

}


.nav{
    width: 100vw;
height:60px;
 background-color: #1C1F23;
}
.contents p{
    margin-bottom: 3px;
}}
@media (min-width: 651px) and (max-width: 1189px) {
header{
    display: flex;
    justify-content: space-between;
  width: 100vw;
 
}
.mainsearch{
    height: 36px;
    border-radius: 20PX;
    background-color: #1C1F23;
    margin-top: 12px;
    margin-bottom: 12px;
 border: rgb(130, 129, 129);
 border-style: solid;
 border-width: 0.01%; padding-left: 1.5%;
 width: 30vw;

}


.nav{
    width: 100vw;
height:60px;
 background-color: #1C1F23;
}

}