*{
  margin: 0;  
  padding: 0;
  color: white;
}
body{
    background-color: black;
}
header{
    background-color: #1C1F23;
    height:7vh;
    display: flex;
    

}
.mainsearch{
    height:60%;
    border-radius: 20px;
    background-color: #1C1F23;
    margin-top: 0.6%;
 border: rgb(130, 129, 129);
 border-style: solid;
 border-width: 1px; padding-left: 1.5%;
 margin-left: 1.1%;

}
.logo{
    height:80%;
    margin-top: 0.33%;
    margin-left: 2%;
}