*{
  margin: 0;  
  padding: 0;
  color: white;
}
body{
    background-color: black;
}
header{
    background-color: #1C1F23;
    height:7vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    

}
.mainsearch{
    height:60%;
    border-radius: 20PX;
    background-color: #1C1F23;
    margin-top: 0.6%;
 border: rgb(130, 129, 129);
 border-style: solid;
 border-width: 0.01%; padding-left: 1.5%;

}
.logo{
    height:80%;
    margin-top: 0.33%;
}
.home{
    height: 65%;
    margin-top:0.8%;
    right:10%;
}